@import "vendor/flex",
		"vendor/royall",
		"vendor/normalize",
		"vendor/html5-boilerplate-base";

@import 'Utilities/variables',
		'Utilities/mixins',
		'Utilities/functions',
		'Utilities/type',
        'Utilities/layout',
        'Utilities/image-maps',
		'Utilities/buttons',
		'Utilities/forms';


@include stickyFooter('main');

main {
	background-color: $c-white;
	.hero {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		height: 50vh;
		background: $c-lightgrey url("https://via.placeholder.com/1440x800") no-repeat top center / cover;
		&-title {
			background-color: $c-white;
			@include center(90%, $mq-small);
			&-wrapper {
				margin: 3%;
				padding: 1em 10%;
				border: thin solid $c-black;
				h1 {
					border-bottom: thin solid $c-black;
					padding-bottom: .25em;
					margin-bottom: .25em;
				}
				h5 {
					margin-bottom: .5em;
				}
			}
		}
		@media (min-width: $mq-mediumSmall) {
			height: calc(100vh - 10em);
		}
    }
    .albums {
        padding: 10% 0;
        border-bottom: thin solid $c-lightgrey;
        .wrapper{
            h3 {
                margin-bottom: 2em;
            }
            .album-covers {
                .boxes {
                    @include flexbox;
                    @include flex-wrap(wrap);
                    @include justify-content(center);
                    opacity: .9999;
                    .box-container {
                        border: thin solid $c-grey;
                        margin: 2em;
                        width: 100%;
                        position: relative;
                        z-index: -2;
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            @include triangle-topleft;
                            left: 0;
                            top: 0;
                        }
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            @include triangle-bottomright;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                        }
                        &-overlay {
                            width: 100%;
                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                @include triangle-topright;
                                right: 0;
                                top: 0;
                            }
                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                @include triangle-bottomleft;
                                left: 0;
                                bottom: 0;
                            }
                        }
                        @media (min-width: $mq-small) {
                            width: 50%;
                        }
                        @media (min-width: $mq-medium) {
                            width: 33.333%;
                        }
                        // @media (min-width: $mq-large) {
                        //     width: 25%;
                        // }
                        .box {
                            background: lightgrey;
                            height: 100vw;
                            margin: 1em;
                            border-bottom: thin $c-white solid;
                            @media (min-width: $mq-small) {
                                height: 50vw;
                                border: thin $c-white solid;
                            }
                            @media (min-width: $mq-medium) {
                                height: 33.333vw;
                            }
                            // @media (min-width: $mq-large) {
                            //     height: 25vw;
                            // }
                            position: relative;
                            .work-thumbnail {
                                width: 100%;
                                height: 100%;
                                padding: 5em;
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                                @include flexbox;
                                @include justify-content(center);
                                @include align-items(center);
                            }
                            .thumbnail1 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            .thumbnail2 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            .thumbnail3 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            .thumbnail4 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            .thumbnail5 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            .thumbnail6 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            .thumbnail7 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            .thumbnail8 {
                                background: $c-black url("https://via.placeholder.com/600") no-repeat top center / cover;
                            }
                            &-overlay {
                                position: absolute;
                                width: 100%;
                                height:100%;
                                top:0;
                                left:0;
                                background:rgba(0,0,0,0.9);
                                opacity: 0;
                                transition: all .5s;
                                &::before {
                                    content: 'Work Title';
                                    color: $c-white;
                                    text-transform: uppercase;
                                    position: absolute;
                                    font-size: 1.5em;
                                    width: 100%;
                                    top: 45%;
                                    left: 0;
                                    opacity: 0;
                                    transition: all .5s;
                                }
                                &::after {
                                    content: 'Work Description';
                                    color: $c-white;
                                    font-family: $f-bodyFont;
                                    position: absolute;
                                    font-size: 1.2em;
                                    width: 100%;
                                    top: 57%;
                                    left: 0;
                                    opacity: 0;
                                    transition: all .5s;
                                }
                                    &:hover {
                                    opacity: 1;
                                        &::before {
                                            opacity: 1;
                                            font-size: 1em;
                                        }
                                        &::after {
                                            opacity: 1;
                                            font-size: .7em;
                                        }
                                }
        
                            }
                            &-overlay1 {
                                &::before {
                                    content: 'Heading';
                                }
                                &::after {
                                    content: 'Subhead';
                                }
                            }
                            &-overlay2 {
                                &::before {
                                    content: 'Heading';
                                }
                                &::after {
                                    content: 'Subhead';
                                }
                            }
                            &-overlay3 {
                                &::before {
                                    content: 'Heading';
                                }
                                &::after {
                                    content: 'Subhead';
                                }
                            }
                            &-overlay4 {
                                &::before {
                                    content: 'Heading';
                                }
                                &::after {
                                    content: 'Subhead';
                                }
                            }
                            &-overlay5 {
                                &::before {
                                    content: 'Heading';
                                }
                                &::after {
                                    content: 'Subhead';
                                }
                            }
                            &-overlay6 {
                                &::before {
                                    content: 'Heading';
                                }
                                &::after {
                                    content: 'Subhead';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
	.book {
        padding: 10% 0;
        .wrapper {
            @include center(90%, $mq-small);
            h3 {
                text-transform: uppercase;
                padding-bottom: 2em;
                span {
                    display: inline-block;
                    background-color: $c-darkgrey;
                    color: $c-white;
                }
            }
            a {
                @extend %minor-button;
            }
        }
	}
}




