// ================
// Buttons
// ================

//Nav and footer links
.nav-bar-items, .footer-bar-items {
  li a {
    font-family: $f-headlineFont;
    text-transform: uppercase;
    color: $c-black;
    @include fluidTypeSize(1, .8);
    &:hover,
    &:focus {
      color: $c-lightgrey;
    }
  }
}

.footer-bar-items li a {
  color: $c-white;
  font-size: .75em;
}

a.privacy {
  font-family: $f-headlineFont;
  text-transform: uppercase;
  color: $c-white;
  font-weight: bold;
  font-size: .75em;
  &:hover,
  &:focus {
    color: $c-lightgrey;
  }
}

// ================
// Extendable Placeholders

// Base Button Styles
%button {
	background-color: $c-grey;
  font-family: $f-headlineFont;
  font-size: .75em;
  font-weight: bold;
	text-transform: uppercase;
	color: $c-white;
  padding: 1.1em 2em;
    &:hover,
    &:focus {
      background: $c-lightgrey;
      color: $c-white;
    }
}


// Major Buttons
%major-button {
  @extend %button; 
    background-color: $c-white;
    color: $c-black;
    &:hover,
    &:focus {
      background: $c-grey;
      color: $c-white;
    }
}


// Minor Buttons
%minor-button {
  @extend %major-button; 
  border: thin solid $c-black;
  &:hover,
  &:focus {
    border-color: $c-grey;
  }
}

//Main Buttons 
// #submit-parent,
// #submit-student {
//   @extend %button;
//   background: repeating-linear-gradient(
//         -45deg,
//         lighten($c-brandColor4, 5%),
//         lighten($c-brandColor4, 5%) 1.5em,
//         $c-brandColor4 1.5em,
//         $c-brandColor4 3em
//       ) ;
//   @media (min-width: $mq-small) {
//     display: inline-block;
//     width: auto;
//   }
// }



// footer links ------





// ================
// Application of Placeholders

// Default Button Selectors

// button,
// .type_event_button a,
// input[type=submit],
// input[type=button] {
//   @extend %button;
// }


// Reusable Button Classes

// button,
// a,
// input {

//   &.button,
//   .button & {
//     @extend %button !optional;
//   }

//   &.major-button,
//   .major-button & {
//     @extend %major-button !optional;
//   }

//   &.minor-button,
//   .minor-button & {
//     @extend %minor-button !optional;
//   }
// }
