/* form -------------------- */

.form {
	fieldset {
		border-style: none;
		legend {
			text-align: center;
			margin: 0;
			font-family: $f-headlineFont;
			text-transform: uppercase;
			font-size: 1.125em;
			color: $c-black;
			padding-bottom: 1em;
			h3 span {
				display: inline-block;
				background-color: $c-darkgrey;
				color: $c-white;
			}
		}
		.sign-up-container {
			@include center(100%, $mq-small);
			label {
				color: #fff;
				font-family: $f-headlineFont;
				font-size: 1em;
			}
			@media (min-width: $mq-small) {
				@include flexbox;
				input[type="text"] {
					margin: 0 3em 0 0;
				}
			}
		}
	}
}

.contact-form {
	fieldset {
		border-style: none;
		legend {
			text-align: center;
			margin: 0;
			font-family: $f-headlineFont;
			font-size: 1.125em;
			color: $c-black;
			padding-bottom: 1em;
		}
		.contact-form-container {
			@include center(90%, $mq-small);
			label {
				color: #fff;
				font-family: $f-headlineFont;
				font-size: 1em;
			}
			@media (min-width: $mq-small) {
				@include flexbox;
				@include flex-direction(column);
				// input[type="text"] {
				// 	margin: 0 3em 0 0;
				// }
				.name-email-wrapper {
					@include flexbox;
					@include justify-content(space-between);
					.name {
						margin-right: 1em;
					}
				}
			}
		}
	}
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="text"],
textarea[type="text"] {
	font-family: $f-headlineFont;
	color: $c-black;
	font-size: .75em;
	width: 100%;
	display: inline-block;
	padding: 1em;
	border: thin solid $c-lightgrey;
	margin-bottom: 1em;
	margin-top: .25em;
}

textarea[type="text"] {
	height: 10em;
}

input[type="text"]::placeholder,
textarea[type="text"]::placeholder {
	font-family: $f-headlineFont;
	color: $c-grey;
	font-size: .75em;
}

button[type="submit"]:hover,
input[type="text"]:hover,
textarea[type="text"]:hover {
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}

input[type="text"]:hover,
textarea[type="text"]:hover {
	border: thin solid $c-white;
}


input[type="text"]:focus,
button[type="submit"]:focus,
textarea[type="text"]:focus {
	outline: none;
}

input[type="text"]:focus {
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}


button[type="submit"] {
	@extend %button;
	width: 100%;
	cursor: pointer;
	border: none;
	transition: all .5s;
}



