/* ================================= 
  Base Styles
==================================== */

nav {
	.mobile-nav-bar{
		.top-nav-bar {
			padding: 1em 0;
			.wrapper {
				@include center(90%, $mq-mediumLarge);
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(center);
				.logo {
					content: '';
					background: url(../img/logo.png) no-repeat;
					display: inline-block;
					background-size: contain;
					width: 100%;
					max-width: 6em;
					height: 4em;
					&:hover,
					&:focus {
						opacity: .4;
					}
				}
				#menu {
					&:hover {
						opacity: .4;
					}
					&::after {
						content: "\f0c9";
						font-family: 'FontAwesome';
						display: inline-block;
						width: 100%;
						font-size: 1.5em;
						color: $c-darkgrey;
					}
				}
			}
		}
		#bottom-nav-bar {
			display: none;
			padding-bottom: 1em;
			.nav-bar-items li {
				margin-bottom: 1em;
			}
		}
		@media (min-width: $mq-mediumSmall) {
			display: none;
		}
	}
	.desktop-nav-bar {
		padding: 1.5em 0;
		background-color: #ffffff;
		.wrapper {
			@include center(90%, $mq-mediumLarge);
			}
			.nav-bar-items {
				@include flexbox;
				@include flex-direction(row);
				@include justify-content(space-around);
				@include align-items(center);
				.logo-item {
					width: 20%;
					.logo {
						content: '';
						background: url(../img/logo.png) no-repeat;
						display: inline-block;
						background-size: contain;
						width: 100%;
						max-width: 11em;
						height: 7em;
						&:hover,
						&:focus {
							opacity: .4;
						}
				}
			}
		}
		@media (max-width: $mq-mediumSmall) {
			display: none;
		}
	}
}

#blog {
	nav {
		.mobile-nav-bar{
			.top-nav-bar {
				background-color: $c-darkgrey;
				padding: 1em 0;
				.wrapper {
					@include center(90%, $mq-mediumLarge);
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(center);
					.logo {
						content: '';
						background: url(../img/white-logo.png) no-repeat;
						display: inline-block;
						background-size: contain;
						width: 100%;
						max-width: 6em;
						height: 4em;
						&:hover,
						&:focus {
							opacity: .4;
						}
					}
					#menu {
						&:hover,
						&:focus {
							opacity: .4;
						}
						&::after {
							content: "\f0c9";
							font-family: 'FontAwesome';
							display: inline-block;
							width: 100%;
							font-size: 1.5em;
							color: $c-white;
						}
					}
				}
			}
			#bottom-nav-bar {
				background-color: $c-darkgrey;
				display: none;
				padding-bottom: 1em;
				.nav-bar-items li {
					margin-bottom: 1em;
					a {
						color: white;
						&:hover,
						&:focus {
						  color: $c-grey;
						}
					}
				}
			}
			@media (min-width: $mq-mediumSmall) {
				display: none;
			}
		}
		.desktop-nav-bar {
			padding: 1.5em 0;
			background-color: $c-darkgrey;
			.wrapper {
				@include center(90%, $mq-mediumLarge);
				}
				.nav-bar-items {
					@include flexbox;
					@include flex-direction(row);
					@include justify-content(space-around);
					@include align-items(center);
					a {
						color: $c-white;
						&:hover,
						&:focus {
						  color: $c-grey;
						}
					}
					.logo-item {
						width: 20%;
						.logo {
							content: '';
							background: url(../img/white-logo.png) no-repeat;
							display: inline-block;
							background-size: contain;
							width: 100%;
							max-width: 11em;
							height: 7em;
							&:hover,
							&:focus {
								opacity: .4;
							}
					}
				}
			}
			@media (max-width: $mq-mediumSmall) {
				display: none;
			}
		}
	}
}



footer {
	.footer-bar {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		background-color: $c-darkgrey;
		.wrapper {
			@include center(90%, $mq-mediumLarge);
			padding: 2em 0;
			@include flexbox;
			@include flex-direction(column);
			.privacy {
				margin-bottom: 1em;
			}
			.footer-bar-items {
				margin-bottom: 1em;
				li {
					margin-bottom: .5em;
				}
			}
			@media (min-width: $mq-mediumSmall) {
				@include flex-direction(row);
				@include justify-content(space-between);
				@include align-items(center);
				.privacy {
					margin-bottom: 0;
				}
				.footer-bar-items {
					@include flexbox;
					@include flex-direction(row);
					@include justify-content(space-between);
					margin-bottom: 0;
					li {
						margin-bottom: 0;
						&:not(:first-child) {
							margin-left: 1em;
						}
					}
				}
			}
		}
	}
}