// =================================
//	Type
// =================================

* {-webkit-font-smoothing: antialiased; -moz-font-smoothing: grayscale;}

@include font-face("FontAwesome", "../FontAwesome", normal, normal, eot ttf woff);

@include font-face("Sail-Regular", "../Sail-Regular", normal, normal, eot ttf woff);

* {
  box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0;
	font-family: $f-headlineFont;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
}




h1 {
  @include fluidTypeSize(2.5, 1.5);
  font-family: $f-pageHeadlineFont;
}

h2 {
  @include fluidTypeSize(2, 1.25);
  // font-family: $f-headlineFont;
  // text-transform: uppercase;
  font-family: $f-bodyFont;
}

h3 {
  @include fluidTypeSize(2, 1.25);
  font-family: $f-bodyFont;
  font-style: italic;
}

h4 {
  @include fluidTypeSize(1.375, 1.1);
  // font-family: $f-headlineFont;
  // text-transform: uppercase;
  font-family: $f-bodyFont;
}

h5 {
  @include fluidTypeSize(1.25, 1);
  font-family: $f-bodyFont;
  color: #7F7F7F;
  font-style: italic;
}

// h6 {
//   // font-size: ;
// }



// ================
// Body Copy
p {
  @include fluidTypeSize(.85, .8);
  font-family: $f-bodyFont;
  font-style: italic;
  margin-bottom: 1em;
}


ul,
ol,
blockquote,
address {
  font-style: normal;
  font-family: $f-bodyFont;
  // font-style: italic;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }
}

a {
    text-decoration: none;
    transition: all .5s;

  &:hover,
  &:focus {
    color: $c-lightgrey;
  }
}
