// =================================
//	Variables
// =================================


//Font Stacks
$f-pageHeadlineFont: "Sail-Regular", Garamond, serif;
$f-headlineFont: "brandon-grotesque", Arial, sans-serif;
$f-bodyFont: "kazimir", Garamond, serif;


// Breakpoints
$mq-xxLarge: 100em; // 1600px
$mq-xLarge: 85.9375em; // 1375px
$mq-large: 75em; // 1200px
$mq-mediumLarge: 64em; // 1024px
$mq-medium: 56.25em; // 900px
$mq-mediumSmall: 48em; // 768px
$mq-small: 37.5em; // 600px
$mq-tiny: 30em; // 480px
$mq-base: 20em; // 320px

//Colors
$c-white: #FFFFFF;
$c-black: #000000;
$c-grey: #7F7F7F;
$c-lightgrey: #B2B2B2;
$c-darkgrey: #242424;





